<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.js">
    <title>Natural Language Processing (NLP) Question and Answer Demo by Pragnakalp Solutions</title>

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style_bert.css">
</head>

<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="{{ url_for('submitted_form') }}">
                        <h2 class="form-title">Question And Answer Demo Using BERT NLP</h2>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="comment">Paragraph <span class="red-star">*</span></label>
                                <textarea name="Paragraph" class="form-control" rows="7" id="comment"
                                    required>भारत (आधिकारिक नाम: भारत गणराज्य, अंग्रेज़ी: Republic of India) दक्षिण एशिया में स्थित भारतीय उपमहाद्वीप का सबसे बड़ा देश है। पूर्ण रूप से उत्तरी गोलार्ध में स्थित भारत, भौगोलिक दृष्टि से विश्व में छठा सबसे बड़ा और जनसंख्या के दृष्टिकोण से दूसरा सबसे बड़ा देश है। भारत के पश्चिम में पाकिस्तान, उत्तर-पूर्व में चीन, नेपाल और भूटान, पूर्व में बांग्लादेश और म्यान्मार स्थित हैं। हिन्द महासागर में इसके दक्षिण पश्चिम में मालदीव, दक्षिण में श्रीलंका और दक्षिण-पूर्व में इंडोनेशिया से भारत की सामुद्रिक सीमा लगती है। इसके उत्तर की भौतिक सीमा हिमालय पर्वत से और दक्षिण में हिन्द महासागर से लगी हुई है। पूर्व में बंगाल की खाड़ी है तथा पश्चिम में अरब सागर हैं। प्राचीन सिन्धु घाटी सभ्यता, व्यापार मार्गों और बड़े-बड़े साम्राज्यों का विकास-स्थान रहे भारतीय उपमहाद्वीप को इसके सांस्कृतिक और आर्थिक सफलता के लंबे इतिहास के लिये जाना जाता रहा है। चार प्रमुख संप्रदायों: हिंदू, बौद्ध, जैन और सिख धर्मों का यहां उदय हुआ।</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 1 <span class="red-star">*</span></label>
                            <input name="Question1" class="form-control input-lg" id="inputlg" type="text"
                                value="भारतका आधिकारिक नाम क्या है?" required>
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 2</label>
                            <input name="Question2" class="form-control input-lg" id="inputlg" type="text"
                                value="भारत के पूर्व में कोनसे देश हे?">

                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 3</label>
                            <input name="Question3" class="form-control input-lg" id="inputlg" type="text"
                                value="पूर्वमें कोनसी खाड़ी हे?">
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 4</label>
                            <input name="Question4" class="form-control input-lg" id="inputlg" type="text"
                                value="भारतको किसके लिए जाना जाता है?">
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 5</label>
                            <input name="Question5" class="form-control input-lg" id="inputlg" type="text"
                                value="किस सम्प्रदायोंका भारतमे उदय हुवा?">
                        </div>

                        <div class="form-group" id="submitblock">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
                            <small class="help-block">
                                It might take around 30 seconds to process your request. So kindly be patient.
                            </small>
                        </div>
                    </form>
                    <footer align="center">
                        <p style="color: black; font-size: 15px;">Developed by : <a href="https://www.pragnakalp.com"
                                target="_blank">Pragnakalp Techlabs </a></p>
                    </footer>
                </div>
            </div>
        </section>
    </div>
</body>
</html>